<a href="https://colab.research.google.com/github/danabuogi/POWER-BI-PROJECTS/blob/main/web_scrape_table.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from bs4 import BeautifulSoup
import requests
import lxml
import pandas as pd

In [ ]:
url="https://keithgalli.github.io/web-scraping/webpage.html"
headers={"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/109.0.0.0 Safari/537.36"}
web_page=requests.get(url,headers=headers,timeout=3)
web_page.raise_for_status()

In [ ]:
soup=BeautifulSoup(web_page.content,"lxml")
print(soup)

In [ ]:
web_table=soup.find("table",attrs={"class":"hockey-stats"})
print(web_table)

In [ ]:
web_table=soup.select("table.hockey-stats")[0]
print(web_table)

In [ ]:
web_table_columns=soup.find("thead").find_all("th")
print(web_table_columns)

In [ ]:
web_table_column_names=[c.string for c in web_table_columns]
print(web_table_column_names)

In [ ]:
web_table_rows=soup.find("tbody").find_all("tr")
web_data=[]
for table_rows in web_table_rows:
  table_data=table_rows.find_all("td")
  row=[str(table_rows.get_text()).strip() for table_rows in table_data]
  web_data.append(row)
  print(web_data[0])

In [64]:
df=pd.DataFrame(web_data,columns=web_table_column_names)
df.head()

,S,Team,League,GP,G,A,TP,PIM,+/-,,POST,GP,G,A,TP,PIM,+/-
0,2014-15,MIT (Mass. Inst. of Tech.),ACHA II,17,3,9,12,20,,|,,,,,,,
1,2015-16,MIT (Mass. Inst. of Tech.),ACHA II,9,1,1,2,2,,|,,,,,,,
2,2016-17,MIT (Mass. Inst. of Tech.),ACHA II,12,5,5,10,8,0,|,,,,,,,
3,2017-18,Did not play,,,,,,,,|,,,,,,,
4,2018-19,MIT (Mass. Inst. of Tech.),ACHA III,8,5,10,15,8,,|,,,,,,,

In [65]:
df.loc[df["Team"] != "Did not play"]

,S,Team,League,GP,G,A,TP,PIM,+/-,,POST,GP,G,A,TP,PIM,+/-
0,2014-15,MIT (Mass. Inst. of Tech.),ACHA II,17,3,9,12,20,,|,,,,,,,
1,2015-16,MIT (Mass. Inst. of Tech.),ACHA II,9,1,1,2,2,,|,,,,,,,
2,2016-17,MIT (Mass. Inst. of Tech.),ACHA II,12,5,5,10,8,0,|,,,,,,,
4,2018-19,MIT (Mass. Inst. of Tech.),ACHA III,8,5,10,15,8,,|,,,,,,,